<nav class="navbar navbar-expand d-flex justify-content-between mt-3">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary" href="#">
      <i class="bi bi-bag-fill me-2"></i>Modern Shop
    </a>
    <div class="d-flex mx-auto w-50">
      <div class="input-group">
        <input
          type="text"
          placeholder="Search..."
          id="buscador"
          name="buscador"
          class="form-control"
          style="background-color: #f8f9fa"
        />
        <button class="btn btn-primary border-start-0" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>

    <ul class="navbar-nav d-flex flex-row align-items-center ">
      <li class="nav-item me-3">
        <a class="nav-link position-relative" href="">
        <i class="bi bi-bell fs-5"> </i>
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >3</span
        >
        </a>
      </li>

      <li class="nav-item">
        <i class="bi bi-person-circle fs-3"></i>
      </li>
    </ul>
  </div>
</nav>

